<h1><b>Assignment 1</b></h1>

<b>Web scraping</b>
<br>In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.
Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to your
SME.

Importing all the required Libraries beforehand below -

In [1]:
import requests
from bs4 import BeautifulSoup as Bs
import pandas as pd

Function to check the validity of web scraping for the mentioned website.

In [2]:
def is_allowed(r):
    if r.status_code == 200:
        return "The website allows Data Scraping."
    else:
        return "The website does not allow Data Scraping."

<h2>Write a python program to display all the header tags from the following Wikipedia link and make data frame.</h2>
<br>Link: 
<a href="wikipedia.org">Wikipedia</a>

In [3]:
URL = 'https://www.wikipedia.org/'
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [4]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')

# Find all the header tags (h1 to h6)
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Extract the text from the header tags
try:
    header_texts = [tag.text.strip().replace('\n', ' ') for tag in header_tags]
except:
    print("One or More Header texts were not found!")
else:
    print("All Header texts were found!")

All Header texts were found!

In [5]:
# Create a DataFrame
df = pd.DataFrame({'Header': header_texts})

# Display the DataFrame
df

                             Header
0  Wikipedia  The Free Encyclopedia
1             1 000 000+   articles
2               100 000+   articles
3                10 000+   articles
4                 1 000+   articles
5                   100+   articles

<h2> Write a python program to display list of respected former presidents of India <br>(i.e. Name, Term of office)
from the following links and make data frame: </h2>
<br>Link: 
<a href="https://presidentofindia.nic.in/former-presidents.htm">Former Presidents of India</a>

In [6]:
URL = 'https://presidentofindia.nic.in/former-presidents.htm'
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [7]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')

#Error Variable/s
err1 = 0
err2 = 0

#Name and Age tags are together. Tenure and Website tags are together
try:
    Name_Age_tags = soup.find_all('h3')
except:
    print("One or More <h3> tags not found!")


try:
    Tenure_Website_tags = soup.find_all('p')
except:
    print("One or more <p> tags not found!")


#Lists to store the data
Names = []
Age = []
tenure = []
website = []

#Extract Names from Name_Age_Tags
try:
    Names = [tag.text.split('(')[0].strip() for tag in Name_Age_tags]
except:
    print("Unable to append names into the list!")
else: 
    err1+=1
    
#Extract Age from Name_Age_Tags
try:
    Age = [tag.text.split('(')[1].replace(')', '').strip() for tag in Name_Age_tags]
except:
    print("Unable to append names into the list!")
else: 
    err1+=1
    
try:
#Extract Tenure and Website from Tenure_Website_tags
    for i in range(0, len(Tenure_Website_tags)):
        if Tenure_Website_tags[i].find_all('span', class_ = "terms") and Tenure_Website_tags[i+1].find_all('a'):
            tenure.append(Tenure_Website_tags[i].span.next_sibling) 
            website.append(Tenure_Website_tags[i+1].a['href'])

        elif Tenure_Website_tags[i].find_all('span', class_ = "terms") and not Tenure_Website_tags[i+1].find_all('a'):
            tenure.append(Tenure_Website_tags[i].span.next_sibling) 
            website.append('Not available')

        else:
            i = i+1
except Exception as error:
    print("Error in appending Tenure or Websites:", error)
    
else:
    err1+=1

    
if err1 == 3:
    print("All Data found!")
else:
    print("Something went wrong!")

All Data found!

In [8]:
#Column Names
col = ['Name', 'Age', 'Tenure', 'Website']

#Data
data = list(zip(Names, Age, tenure, website))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

,Name,Age,Tenure,Website
0,Shri Ram Nath Kovind,birth - 1945,"25 July, 2017 to 25 July, 2022",https://ramnathkovind.nic.in
1,Shri Pranab Mukherjee,1935-2020,"25 July, 2012 to 25 July, 2017",http://pranabmukherjee.nic.in
2,Smt Pratibha Devisingh Patil,birth - 1934,"25 July, 2007 to 25 July, 2012",http://pratibhapatil.nic.in
3,DR. A.P.J. Abdul Kalam,1931-2015,"25 July, 2002 to 25 July, 2007",http://abdulkalam.nic.in
4,Shri K. R. Narayanan,1920 - 2005,"25 July, 1997 to 25 July, 2002",Not available
5,Dr Shankar Dayal Sharma,1918-1999,"25 July, 1992 to 25 July, 1997",Not available
6,Shri R Venkataraman,1910-2009,"25 July, 1987 to 25 July, 1992",Not available
7,Giani Zail Singh,1916-1994,"25 July, 1982 to 25 July, 1987",Not available
8,Shri Neelam Sanjiva Reddy,1913-1996,"25 July, 1977 to 25 July, 1982",Not available
9,Dr. Fakhruddin Ali Ahmed,1905-1977,"24 August, 1974 to 11 February, 1977",Not available
10,Shri Varahagiri Venkata Giri,1894-1980,"3 May, 1969 to 20 July, 1969 and 24 August, 1...",Not available
11,Dr. Zakir Husain,1897-1969,"13 May, 1967 to 3 May, 1969",Not available
12,Dr. Sarvepalli Radhakrishnan,1888-1975,"13 May, 1962 to 13 May, 1967",Not available
13,Dr. Rajendra Prasad,1884-1963,"26 January, 1950 to 13 May, 1962",Not available

<h2> Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame -</h2>

<h3> Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.</h3>
<br>Link:
<a href="https://www.icc-cricket.com/rankings/mens/team-rankings/odi">ODI Team Rankings</a>

In [9]:
URL = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [10]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
table_soup = soup.find('table')

#Lists to store the data
Names = []
Matches = []
Points = []
Ratings = []

#Error Variable/s
err = 0

try:
    table_soup_Name_Tags = table_soup.find_all('span', class_="u-hide-phablet")
    table_soup_Matches_Points_Tags = table_soup.find_all('td', class_="table-body__cell u-center-text")
    table_soup_Rating_Tags = table_soup.find_all('td', class_="table-body__cell u-text-right rating")
except Exception as error:
    print("Following error occured when trying to use .find_all() function for retrieving Name/Tags/Matches/Ratings:")
    print(error)

try:
    Names.append(table_soup.find('span', class_="u-hide-phablet").text)
    Matches.append(table_soup.find('td', class_="rankings-block__banner--matches").text)
    Points.append(table_soup.find('td', class_="rankings-block__banner--points").text)
    Ratings.append(table_soup.find('td', class_="rankings-block__banner--rating u-text-right").text.strip())
except Exception as error:
    print("Following exception occured while adding 1st players values to the list:")
    print(error)
else:
    err+=1

try:
    n=0
    for i in range(1,10):
        Names.append(table_soup_Name_Tags[i].text)
        Matches.append(table_soup_Matches_Points_Tags[n].text)
        Points.append(table_soup_Matches_Points_Tags[n+1].text)
        n = n+2
        Ratings.append(table_soup_Rating_Tags[i].text)
except Exception as error:
    print("Following error occured while adding the remaining 9 values to the list")
    print(error)
else:
    err+=1  

if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [11]:
#Columns Names
col = ['Team Name', 'Matches Played', 'Points', 'Rating']

#Data
data = list(zip(Names, Matches, Points, Ratings))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

      Team Name Matches Played Points Rating
0     Australia             23  2,714    118
1      Pakistan             20  2,316    115
2         India             33  3,807    104
3   New Zealand             27  2,806    101
4       England             24  2,426    101
5  South Africa             19  1,910     98
6    Bangladesh             25  2,451     88
7   Afghanistan             10    878     80
8     Sri Lanka             21  1,682     72
9   West Indies             25  1,797     51

<h3>Top 10 ODI Batsmen along with the records of their team and rating.</h3>
<br>Link: <a href = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting">Top 10 ODI Batsmen</a>

In [12]:
URL = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [13]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
tb_soup = soup.find('table')

#Lists to store the data
Names = []
Teams = []
Ratings = []
Career_Bests = []

#Error Variable/s
err = 0

try:
    
    Names_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rankings-table__name name")
    Teams_Tb_tags = tb_soup.find_all('span', class_="table-body__logo-text")
    Ratings_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rating")
    CB_Tb_tags = tb_soup.find_all('td', class_="table-body__cell u-text-right u-hide-phablet")
    
except Exception as error:
    
    print("Following error occured while fetching data from tags:")
    print(error)

    
try:
    
    Names.append(tb_soup.find('div', class_="rankings-block__banner--name-large").text)
    Teams.append(tb_soup.find('div', class_="rankings-block__banner--nationality").text.strip())
    Ratings.append(tb_soup.find('div', class_="u-text-left").text.strip())
    Career_Bests.append((tb_soup.find('div', class_="rankings-block__career-best").text.strip()))
    
except Exception as error:
    
    print("Following error occured while storing data of the first player:")
    print(error)
    
else:
    
    err+=1

    
try:
    for i in range(0,9):
        Names.append(Names_Tb_tags[i].text.strip())
        Teams.append(Teams_Tb_tags[i].text)
        Ratings.append(Ratings_Tb_tags[i].text)
        Career_Bests.append(CB_Tb_tags[i].text.strip())
        
except Exception as error:
    print("Following error occured while trying to get the data for remaining 9 players:")
    print(error)
    
else:
    err+=1

    
if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [14]:
#Columns Names
col = ['Player Name', 'Team', 'Rating', 'Career Best']

#Data
data = list(zip(Names, Teams, Ratings, Career_Bests))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

             Player Name Team      Rating                    Career Best
0             Babar Azam  PAK  Babar Azam  898 v West Indies, 10/06/2022
1  Rassie van der Dussen   SA         777      796 v England, 19/07/2022
2           Fakhar Zaman  PAK         755  784 v New Zealand, 29/04/2023
3            Imam-ul-Haq  PAK         745  815 v West Indies, 12/06/2022
4           Shubman Gill  IND         738    738 v Australia, 22/03/2023
5           David Warner  AUS         726     880 v Pakistan, 26/01/2017
6           Harry Tector  IRE         722   722 v Bangladesh, 14/05/2023
7            Virat Kohli  IND         719      911 v England, 12/07/2018
8        Quinton de Kock   SA         718    813 v Sri Lanka, 10/03/2019
9           Rohit Sharma  IND         707    885 v Sri Lanka, 06/07/2019

<h3>Top 10 ODI bowlers along with the records of their team and rating</h3>
<br>Link: <a href = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"> Top 10 ODI Bowlers </a>

In [15]:
URL = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [16]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
tb_soup = soup.find('table')

#Lists to store the data
Names = []
Teams = []
Ratings = []
Career_Bests = []

#Error Variable/s
err=0

try:
    Names_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rankings-table__name name")
    Teams_Tb_tags = tb_soup.find_all('span', class_="table-body__logo-text")
    Ratings_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rating")
    CB_Tb_tags = tb_soup.find_all('td', class_="table-body__cell u-text-right u-hide-phablet")
    
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)
    
try:    
    Names.append(tb_soup.find('div', class_="rankings-block__banner--name-large").text)
    Teams.append(tb_soup.find('div', class_="rankings-block__banner--nationality").text.strip())
    Ratings.append(tb_soup.find('div', class_="rankings-block__banner--rating").text.strip())
    Career_Bests.append((tb_soup.find('div', class_="rankings-block__career-best").text.strip()))
except Exception as error:
    print("Following error occured while storing data of the first player:")
    print(error)
else:
    err+=1

try:
    for i in range(0,9):
        Names.append(Names_Tb_tags[i].text.strip())
        Teams.append(Teams_Tb_tags[i].text)
        Ratings.append(Ratings_Tb_tags[i].text)
        Career_Bests.append(CB_Tb_tags[i].text.strip())
except Exception as error:
    print("Following error occured while trying to get the data for remaining 9 players:")
    print(error)
else:
    err+=1

if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [17]:
#Columns Names
col = ['Player Name', 'Team', 'Rating', 'Career Best']

#Data
data = list(zip(Names, Teams, Ratings, Career_Bests))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

        Player Name Team Rating                    Career Best
0    Josh Hazlewood  AUS    705      733 v England, 26/01/2018
1    Mohammed Siraj  IND    691  736 v New Zealand, 21/01/2023
2    Mitchell Starc  AUS    686  783 v New Zealand, 29/03/2015
3        Matt Henry   NZ    667   691 v Bangladesh, 26/03/2021
4       Trent Boult   NZ    660    775 v Australia, 11/09/2022
5       Rashid Khan  AFG    659     806 v Pakistan, 21/09/2018
6        Adam Zampa  AUS    652      655 v England, 22/11/2022
7  Mujeeb Ur Rahman  AFG    637      712 v Ireland, 24/01/2021
8     Mohammad Nabi  AFG    631     657 v Zimbabwe, 09/06/2022
9    Shaheen Afridi  PAK    630  688 v West Indies, 10/06/2022

<H2> Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame:</H2>

<h3>Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.</h3>
<br>Link: <A href = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"> Women's ODI Team Rankings </A>

In [18]:
URL = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [19]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
table_soup = soup.find('table')

#Lists to store the data
Names = []
Matches = []
Points = []
Ratings = []

#Error Variable/s
err=0

try:
    
    table_soup_Name_Tags = table_soup.find_all('span', class_="u-hide-phablet")
    table_soup_Matches_Points_Tags = table_soup.find_all('td', class_="table-body__cell u-center-text")
    table_soup_Rating_Tags = table_soup.find_all('td', class_="table-body__cell u-text-right rating")
    
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)

try:
    Names.append(table_soup.find('span', class_="u-hide-phablet").text)
    Matches.append(table_soup.find('td', class_="rankings-block__banner--matches").text)
    Points.append(table_soup.find('td', class_="rankings-block__banner--points").text)
    Ratings.append(table_soup.find('td', class_="rankings-block__banner--rating u-text-right").text.strip())
except Exception as error:
    print("Following error occured while storing data of the first player:")
    print(error)
else:
        err+=1

try:        
    n=0
    for i in range(1,10):
        Names.append(table_soup_Name_Tags[i].text)
        Matches.append(table_soup_Matches_Points_Tags[n].text)
        Points.append(table_soup_Matches_Points_Tags[n+1].text)
        n = n+2
        Ratings.append(table_soup_Rating_Tags[i].text)
except Exception as error:
    print("Following error occured while trying to get the data for remaining 9 players:")
    print(error)
else:
    err+=1

if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [20]:
#Columns Names
col = ['Team Name', 'Matches Played', 'Points', 'Rating']

#Data
data = list(zip(Names, Matches, Points, Ratings))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

      Team Name Matches Played Points Rating
0     Australia             21  3,603    172
1       England             28  3,342    119
2  South Africa             26  3,098    104
3         India             27  2,820    102
4   New Zealand             25  2,553     94
5   West Indies             27  2,535     75
6      Thailand             11    821     70
7    Bangladesh             14    977     62
8      Pakistan             27  1,678     53
9     Sri Lanka              9    479     39

<H3>Top 10 women’s ODI Batting players along with the records of their team and rating.</H3>

Link: <a href= "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"> Top 10 ODI Batsmen - Women </a>

In [21]:
URL = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [22]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
tb_soup = soup.find('table')

#Lists to store the data
Names = []
Teams = []
Ratings = []
Career_Bests = []

#Error Variable/s
err=0

try:
    Names_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rankings-table__name name")
    Teams_Tb_tags = tb_soup.find_all('span', class_="table-body__logo-text")
    Ratings_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rating")
    CB_Tb_tags = tb_soup.find_all('td', class_="table-body__cell u-text-right u-hide-phablet")
    
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)

    
try:
    Names.append(tb_soup.find('div', class_="rankings-block__banner--name-large").text)
    Teams.append(tb_soup.find('div', class_="rankings-block__banner--nationality").text.strip())
    Ratings.append(tb_soup.find('div', class_="rankings-block__banner--rating").text.strip())
    Career_Bests.append((tb_soup.find('div', class_="rankings-block__career-best").text.strip()))
except Exception as error:
    print("Following error occured while storing data of the first player:")
    print(error)
else:
    err+=1
    

try:
    for i in range(0,9):
        Names.append(Names_Tb_tags[i].text.strip())
        Teams.append(Teams_Tb_tags[i].text)
        Ratings.append(Ratings_Tb_tags[i].text)
        Career_Bests.append(CB_Tb_tags[i].text.strip())
except Exception as error:
    print("Following error occured while trying to get the data for remaining 9 players:")
    print(error)
else:
    err+=1

if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [23]:
#Columns Names
col = ['Player Name', 'Team', 'Rating', 'Career Best']

#Data
data = list(zip(Names, Teams, Ratings, Career_Bests))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

           Player Name Team Rating                     Career Best
0          Beth Mooney  AUS    754      754 v Pakistan, 21/01/2023
1      Laura Wolvaardt   SA    732     741 v Australia, 22/03/2022
2       Natalie Sciver  ENG    731  755 v South Africa, 15/07/2022
3          Meg Lanning  AUS    717   834 v New Zealand, 24/02/2016
4     Harmanpreet Kaur  IND    716       731 v England, 21/09/2022
5      Smriti Mandhana  IND    714       797 v England, 28/02/2019
6  Chamari Athapaththu   SL    673  691 v South Africa, 14/02/2019
7         Ellyse Perry  AUS    626   766 v West Indies, 11/09/2019
8       Tammy Beaumont  ENG    595         791 v India, 27/06/2021
9      Stafanie Taylor   WI    588      766 v Pakistan, 07/07/2021

<H3> Top 10 women’s ODI all-rounder along with the records of their team and rating. </H3>

Link: <a href = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"> Top 10 ODI All-Rounders - Women </a>

In [24]:
URL = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [25]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')
tb_soup = soup.find('table')

#Lists to store the data
Names = []
Teams = []
Ratings = []
Career_Bests = []

#Error Variable/s
err = 0

try:
    Names_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rankings-table__name name")
    Teams_Tb_tags = tb_soup.find_all('span', class_="table-body__logo-text")
    Ratings_Tb_tags = tb_soup.find_all('td', class_="table-body__cell rating")
    CB_Tb_tags = tb_soup.find_all('td', class_="table-body__cell u-text-right u-hide-phablet")

    
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)
    
try:
    Names.append(tb_soup.find('div', class_="rankings-block__banner--name-large").text)
    Teams.append(tb_soup.find('div', class_="rankings-block__banner--nationality").text.strip())
    Ratings.append(tb_soup.find('div', class_="rankings-block__banner--rating").text.strip())
    Career_Bests.append((tb_soup.find('div', class_="rankings-block__career-best").text.strip()))
except Exception as error:
    print("Following error occured while storing data of the first player:")
    print(error)
else:
    err+=1
    
try:
    for i in range(0,9):
        Names.append(Names_Tb_tags[i].text.strip())
        Teams.append(Teams_Tb_tags[i].text)
        Ratings.append(Ratings_Tb_tags[i].text)
        Career_Bests.append(CB_Tb_tags[i].text.strip())

except Exception as error:
    print("Following error occured while trying to get the data for remaining 9 players:")
    print(error)
else:
    err+=1

if err == 2:
    print("All data found!")
else:
    print("Something went wrong!")

All data found!

In [26]:
#Columns Names
col = ['Player Name', 'Team', 'Rating', 'Career Best']

#Data
data = list(zip(Names, Teams, Ratings, Career_Bests))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

         Player Name Team Rating                     Career Best
0    Hayley Matthews   WI    373       383 v England, 04/12/2022
1     Natalie Sciver  ENG    371  395 v South Africa, 11/07/2022
2       Ellyse Perry  AUS    366   548 v West Indies, 11/09/2019
3     Marizanne Kapp   SA    349   419 v West Indies, 10/09/2021
4        Amelia Kerr   NZ    336   356 v West Indies, 25/09/2022
5      Deepti Sharma  IND    322  397 v South Africa, 09/10/2019
6   Ashleigh Gardner  AUS    292      292 v Pakistan, 21/01/2023
7      Jess Jonassen  AUS    250   308 v West Indies, 11/09/2019
8           Nida Dar  PAK    232     232 v Australia, 21/01/2023
9  Sophie Ecclestone  ENG    205  217 v South Africa, 31/03/2022

<h2>Write a python program to scrape mentioned news details from the following link and
make data frame -</h2>

Link: <a href="https://www.cnbc.com/world/?region=world"> CNBC World News </a>    

<br><b>Include</b> -
1. Headline
2. Time
3. News Link

In [27]:
URL = "https://www.cnbc.com/world/?region=world"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [28]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')

#Lists to store the data
Timestamps = []
Headlines = []
Links = []

#Error Variable/s
err = 0

try:
    Timestamp_tags = soup.find_all('time', class_ = 'LatestNews-timestamp')
    Headline_Link_tags = soup.find_all('a', class_ = 'LatestNews-headline')
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)
    
    
#if len(Timestamp_tags) == len(Headline_Link_tags):
#    print("Same Length") > TRUE

try:
    for i in range(0, len(Timestamp_tags)):
        Timestamps.append(Timestamp_tags[i].text)
        Headlines.append(Headline_Link_tags[i].text)
        Links.append(Headline_Link_tags[i]['href'])
except Exception as error:
    print("Following error occured while adding data to lists:")
    print(error)
else:
    err+=1
    
if err == 1:
    print("All Data Found!")
else:
    print("Something went wrong!")

All Data Found!

In [29]:
#Columns Names
col = ['Headline', 'When', 'Link']

#Data
data = list(zip(Headlines, Timestamps, Links))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

,Headline,When,Link
0,Debt ceiling deal will be 'transformational' f...,2 Hours Ago,https://www.cnbc.com/2023/05/28/debt-ceiling-d...
1,"NYC, Las Vegas, D.C.: Free wellness activities...",4 Hours Ago,https://www.cnbc.com/2023/05/28/nyc-las-vegas-...
2,Content creators bring in up to $150/hour film...,4 Hours Ago,https://www.cnbc.com/2023/05/28/content-creato...
3,34-year-old makes up to $167 an hour nannying ...,5 Hours Ago,https://www.cnbc.com/2023/05/28/gloria-richard...
4,This winning fund puts a spin on emerging mark...,5 Hours Ago,https://www.cnbc.com/2023/05/28/this-winning-f...
5,ASCO will put the focus on the cancer fight. T...,5 Hours Ago,https://www.cnbc.com/2023/05/28/asco-will-focu...
6,Now Boarding: Why airlines are turning to bigg...,6 Hours Ago,https://www.cnbc.com/2023/05/28/now-boarding-a...
7,"Global demand for streaming Asian movies, TV g...",6 Hours Ago,https://www.cnbc.com/2023/05/28/squid-game-eea...
8,These are the cheapest tech stocks in the S&P 500,6 Hours Ago,https://www.cnbc.com/2023/05/28/these-are-the-...
9,Turkey votes in runoff election after candidat...,14 Hours Ago,https://www.cnbc.com/2023/05/28/turkey-electio...
10,White House and Republicans reach a tentative ...,17 Hours Ago,https://www.cnbc.com/2023/05/27/white-house-an...
11,State Farm to stop accepting homeowners insura...,23 Hours Ago,https://www.cnbc.com/2023/05/27/state-farm-to-...
12,How Janie Deegan built Janie's Life-Changing B...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-janie-deeg...
13,Top 10 cheapest places in the U.S. to buy a be...,"May 27, 2023",https://www.cnbc.com/2023/05/27/cheapest-place...
14,Mark Cuban calls Elon Musk’s Twitter algorithm...,"May 27, 2023",https://www.cnbc.com/2023/05/27/mark-cuban-say...
15,3 investing tips as the federal debt ceiling '...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-to-invest-...
16,Microsoft keyboard users are ‘devastated’ afte...,"May 27, 2023",https://www.cnbc.com/2023/05/27/microsoft-keyb...
17,Steve Adcock: The 3 'stupidest' myths I've hea...,"May 27, 2023",https://www.cnbc.com/2023/05/27/steve-adcock-t...
18,Chip stocks AMD and Nvidia are among the most ...,"May 27, 2023",https://www.cnbc.com/2023/05/27/chip-stocks-am...
19,Analysts are pounding the table for these must...,"May 27, 2023",https://www.cnbc.com/2023/05/27/analysts-are-p...
20,Lower-income consumers pay for wealthy's credi...,"May 27, 2023",https://www.cnbc.com/2023/05/27/lower-income-a...
21,How Mastercard has outperformed Visa,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-mastercard...
22,Why commercial real estate firms are joining t...,"May 27, 2023",https://www.cnbc.com/2023/05/27/commercial-rea...
23,Japan stocks are on fire this year. Why the ra...,"May 27, 2023",https://www.cnbc.com/2023/05/27/japan-stocks-a...
24,Marvell Technology shares surge after earnings...,"May 26, 2023",https://www.cnbc.com/2023/05/26/marvell-techno...
25,"The tech trade is back, driven by A.I. craze a...","May 26, 2023",https://www.cnbc.com/2023/05/26/tech-stocks-ar...
26,Next week hints at only short-lived debt deal ...,"May 26, 2023",https://www.cnbc.com/2023/05/26/next-week-hint...
27,Treasury says it could run out of money June 5...,"May 26, 2023",https://www.cnbc.com/2023/05/26/treasury-says-...
28,Disney rips DeSantis bid to disqualify judge i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/disney-rips-de...
29,Why the pause on student loan payments has bee...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-pause-on-s...

<h2> Write a python program to scrape the details of most downloaded articles from AI in last 90
days.</h2>
<br>
Link: <A href = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"> Elsevier's Most downloaded AI articles </A>
<br>
<br>Scrape below mentioned details and make data frame:
<br>i) Paper Title
<br>ii) Authors
<br>iii) Published Date
<br>iv) Paper URL

In [30]:
URL = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [31]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')

#Lists to store the data
Title = []
Authors = []
Date = []
Link = []

#Error Variable/s
err = 0

#if len(soup.find_all('a', class_ = 'sc-5smygv-0 fIXTHm')) == len(soup.find_all('span', class_ = "sc-1w3fpd7-0 dnCnAO")) and len(soup.find_all('a', class_ = 'sc-5smygv-0 fIXTHm'))== len(soup.find_all('span', class_ = "sc-1thf9ly-2 dvggWt")):
#   print("Same Length") > True

try:
    Title_Link_Tags = soup.find_all('a', class_ = 'sc-5smygv-0 fIXTHm')
    Authors_Tags = soup.find_all('span', class_ = "sc-1w3fpd7-0 dnCnAO")
    Date_Tags = soup.find_all('span', class_ = "sc-1thf9ly-2 dvggWt")
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)
    
try:
    for i in range(0, len(soup.find_all('a', class_ = 'sc-5smygv-0 fIXTHm'))):
        Title.append(Title_Link_Tags[i].text)
        Link.append(Title_Link_Tags[i]['href'])
        Authors.append(Authors_Tags[i].text)
        Date.append(Date_Tags[i].text)
except Exception as error:
    print("Following error occured while adding data to lists:")
    print(error)
else:
    err+=1
    
    
if err == 1:
    print("All Data Found!")
else:
    print("Something went wrong!")

All Data Found!

In [32]:
#Columns Names
col = ['Paper Title', 'Authors', 'Published Date', 'Paper URL']

#Data
data = list(zip(Title, Authors, Date, Link))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

<h2>Write a python program to scrape mentioned details from the link below and make data frame: </h2>

Link: <a href = "dineout.co.in"> Dineout </a>   
<br><b>Include</b> -
<br>i) Restaurant name
<br>ii) Cuisine
<br>iii) Location
<br>iv) Ratings
<br>v) Image URL

In [33]:
URL = "https://www.dineout.co.in/delhi-restaurants/welcome-back"
r = requests.get(URL)
print(is_allowed(r))

The website allows Data Scraping.

In [34]:
#Fetching the soup
content = r.text
soup = Bs(content, 'html.parser')

#Lists to store the data
Name = []
Cuisines = []
Location = []
Ratings = []
Img_Url = []

#Error Variable/s
err = 0


try:
    Name_Tags = soup.find_all('a', class_ = 'restnt-name ellipsis')
    Location_Tags = soup.find_all('div', class_ = "restnt-loc ellipsis")
    Rating_Tags = soup.find_all('div', class_ = 'restnt-rating rating-4')
    Img_Tags = soup.find_all('img', class_ = 'no-img')
    Cuisine_soup = soup.find_all('span', class_ = "double-line-ellipsis")
except Exception as error:
    print("Following error occured while fetching data from tags:")
    print(error)
    
try:
    for i in range(0, len(Name_Tags)):
        Name.append(Name_Tags[i].text)
        Location.append(Location_Tags[i].text)
        Ratings.append(Rating_Tags[i].text)
        Img_Url.append(Img_Tags[i]['data-src'])
        Cuisines.append([tag.text for tag in Cuisine_soup[i].find_all('a')])
except Exception as error:
    print("Following error occured while adding data to lists:")
    print(error)
else:
    err+=1
    
    
if err == 1:
    print("All Data Found!")
else:
    print("Something went wrong!")

All Data Found!

In [35]:
#Columns Names
col = ['Restaurant name', 'Cuisine', 'Location', 'Ratings', 'Image URL']

#Data
data = list(zip(Name, Cuisines, Location, Ratings, Img_Url))

#Creating the Dataframe
df = pd.DataFrame(data= data, columns = col)

#Displaying the Dataframe
(df)

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Local,"[North Indian, Asian, Continental]","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Tamasha,"[Continental, Asian, Italian, North Indian]","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
2,Ministry Of Beer,"[North Indian, Continental, American, Asian]","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,Openhouse Cafe,"[North Indian, Asian, Italian]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Unplugged Courtyard,"[North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,The Junkyard Cafe,"[North Indian, Continental, Chinese, Fast Food]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
6,Station Bar,"[Italian, Chinese, North Indian, Fast Food]","F-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
7,Berco's,"[Chinese, Thai]","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,QBA,"[North Indian, Continental, Italian]","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Chido,"[North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,38 Barracks,"[North Indian, Chinese, Continental]","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,Ardor 2.1 Restaurant and Lounge,"[North Indian, Chinese, Italian, Continental]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
12,Cafe Delhi Heights,"[Continental, North Indian, Beverages, Chinese...","Janpath, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
13,The G.T. Road,[North Indian],"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,Out Of The Box Courtyard,"[North Indian, Mediterranean, Chinese, Italian]","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,The Embassy,"[North Indian, European, Fast Food, Italian, C...","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Imperfecto,"[Asian, Finger Food, Continental, North Indian]","Janpath, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
17,My Bar Headquarters,"[North Indian, Chinese]","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
18,Dhaba Estd 1986 Delhi,[North Indian],"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,Sandoz,"[North Indian, Continental]","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
20,Wok in the Clouds,"[Chinese, Thai, Continental, North Indian, Asian]","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...